# Flask Framework
Flask==2.1.1

# Flask Packages
Flask-Migrate==2.6.0
Flask-Script==2.0.6
Flask-SQLAlchemy==2.5.1
Flask-Cors==3.0.10
SQLAlchemy==1.4.36
requests==2.25.0
pika==1.1.0
psycopg2==2.9.3
psycopg2_binary==2.9.3
Werkzeug==2.1.1
